body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;
    line-height: 30px;
}
/* header styles */
header{
    background-color: aliceblue;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header h1 {
    color: rgb(0, 0, 0);
    font-size: 50px;
   
}


/* main styles */
main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}

main img{ 
    max-width: 100%;
}
/* h2 style */
h2{
    font-size: 35px;
    color: #000000;
    margin: 40px 0 10px;
}
/* anchor styles */
a{
    color: #000000;
    
}
a:hover{
    color: blueviolet;
    opacity: .5;
}

/* footer styles */
footer{
    background-color: aliceblue;
    text-align: center;
    color: #000000;
    padding: 50px;
}


footer p{
    margin: 0;
    color: #000000;
}

footer a{
    color: #000000;
}



p.caption{
    color: #999999;
    font-style: italic;
    margin-top: 0;
}


.box{
    background-color: aliceblue;
    width: 100%;
    padding: 30px;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 100px;

}


.border{
    background-color: white;
    width: 100%;
    padding: 30px;
    border: 5px solid black;
    box-sizing: border-box;

}

div{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #000000;
    line-height: 30px;
}

button{
    background-color: red;
    color: white;
    padding: 5px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
  
}



/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 190px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  img{
    border-radius: 30px;
    max-width: 100%;

  }

  
header img{
    border-radius: 170px;
    width: 300px;
    border: 10px solid #000000;
}
